/* Fuente global serif */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Contenedor principal de Login */
.Contenedor_Login {
  display: flex;
  flex-direction: column;
  margin: 20px auto; /* Centramos y ajustamos el margen en pantallas más pequeñas */
  max-width: 500px; /* Limitar el ancho en pantallas grandes */
  background: #fff;
  border-radius: 50px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px; /* Ajustamos el margen superior */
  padding: 50px 20px; /* Reducimos el padding */
}

/* Estilo del logo */
.Estilo_Logo {
  width: 100%; /* Ajustamos el ancho al 100% del contenedor */
  max-width: 300px; /* Limitar el tamaño máximo */
  height: auto;
  margin: 20px auto;
  display: flex;
}

/* Cabecera */
.Cabeza_Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Ajustamos el gap en pantallas más pequeñas */
  width: 100%;
  margin-top: 20px; /* Reducimos el margen superior */
}

/* Título */
.Titulo_Login {
  color: #441853;
  font-size: 35px; /* Reducimos el tamaño del texto en pantallas pequeñas */
  font-weight: 100;
}

/* Línea divisora */
.Linea_Divisora_Login {
  width: 50px; /* Reducimos el tamaño */
  height: 5px;
  background: #441853;
  border-radius: 9px;
}

/* Contenedor de inputs */
.Contenedor_Inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Ajustamos el espacio entre inputs */
  width: 100%;
}

/* Estilo de los inputs */
.Input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 400px; /* Limitar el tamaño máximo del input */
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}
/*Imagenes*/
.Input img {
  margin: 20px 20px;
  height: 30px;
  width: auto;
}

/* Estilo del campo input */
.Input input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 19px;
}

/* Contenedor del botón de entrar a la plataforma  */
.Contenedor_Entrar_Plataforma {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

/* Estilo del botón Entrar */

.Entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Limitar el tamaño máximo del botón*/
  height: 50px;
  color: #fff;
  background: #441853;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .Contenedor_Login {
    padding: 30px 15px; /* Reducir padding en pantallas pequeñas */
  }

  .Titulo_Login {
    font-size: 30px; /* Reducir el tamaño del título */
  }

  .Input {
    width: 100%; /* Asegurarse de que los inputs ocupen todo el ancho */
  }

  .Entrar {
    width: 100%; /* Asegurarse de que el botón ocupe todo el ancho */
  }
}
