/*-------------------------------------------Estilos de Login------------------------------------------------*/
/* Aplicables a todo el proyecto*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Contenedor principal de Login */
.Contenedor_Login {
  display: flex;
  flex-direction: column;
  margin: 20px auto; /* Centramos y ajustamos el margen en pantallas más pequeñas */
  max-width: 700px; /* Limitar el ancho en pantallas grandes */
  min-height: 300px;
  max-height: 700px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px; /* Ajustamos el margen superior */
  padding: 30px 90px; /* Reducimos el padding */
}

/* Estilo del logo */
.Estilo_Logo {
  width: 100%; /* Ajustamos el ancho al 100% del contenedor */
  max-width: 300px; /* Limitar el tamaño máximo */
  height: auto;
  margin: 20px auto;
  display: flex;
}

/* Cabecera */
.Cabeza_Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Ajustamos el gap en pantallas más pequeñas */
  width: 100%;
  margin-top: 20px; /* Reducimos el margen superior */
}

/* Título */
.Titulo_Login {
  color: #441853;
  font-size: 35px; /* Reducimos el tamaño del texto en pantallas pequeñas */
  font-weight: 100;
}

/* Línea divisora */
.Linea_Divisora_Login {
  width: 50px; /* Reducimos el tamaño */
  height: 5px;
  background: #441853;
  border-radius: 9px;
}

/* Contenedor de inputs */
.Contenedor_Inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Ajustamos el espacio entre inputs */
  width: 100%;
}

/* Estilo de los inputs */
.Input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 400px; /* Limitar el tamaño máximo del input */
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}
/*Imagenes*/
.Input img {
  margin: 20px 20px;
  height: 30px;
  width: auto;
}

/* Estilo del campo input */
.Input input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 19px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .Contenedor_Login {
    padding: 30px 15px; /* Reducir padding en pantallas pequeñas */
  }

  .Titulo_Login {
    font-size: 30px; /* Reducir el tamaño del título */
  }

  .Input {
    width: 100%; /* Asegurarse de que los inputs ocupen todo el ancho */
  }
}

/*--------------------------------------------------------------------Estilos de botones--------------------------------*/

.Contenedor_Boton {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  gap: 100px;
  margin: 60px auto;
}

.Boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 500px; /* Limitar el tamaño máximo del botón */
  height: 50px;
  color: #fff;
  background: #441853;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 900;
  cursor: pointer;
}
.Boton:hover {
  background: #65257b; /* Cambia el color de fondo al pasar el ratón */
}

.Atrás {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid black;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Atrás :hover {
  background-color: #334155;
  color: white;
}

.Adelante {
  background-color: #441853;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.Adelante:hover {
  background-color: #65257b;
  color: white;
}

/*---------------------------------------------- Estilo de Perfil de usuario -------------------------------------------*/
/*Main-Container*/
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "userProfile userDetails"
    "work_skills timeline_about"
    "work_skills timeline_about";
  width: 85%;
  padding: auto;
  height: 90vh;
  background: var(--glass-bg);
  padding: var(--p-1-5);
  margin-left: 100px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
  padding-top: 30px;
  font-family: inherit;
}
/*Container Cards*/
.Logo_img {
  grid-area: header;
  margin-left: 350px;
}
.userProfile {
  grid-area: userProfile;
}
.work_skills {
  grid-area: work_skills;
}
.userDetails {
  grid-area: userDetails;
}
.timeline_about {
  grid-area: timeline_about;
}

/*Container Cards*/
.container .card {
  background: var(--glass-bg);
  backdrop-filter: blur(3rem);
  border-radius: 0.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  padding: var(--p-1-5);
}

/*Container Header*/
.container header {
  padding: 0 var(--p-2-5);
}

.container header .Logo_img {
  display: flex;
  align-items: center;
}

.container header .Logo_img figure img {
  width: 3.5rem;
  height: 3.5rem;
}

.container header .Logo_img span {
  font-size: var(--xl-fs);
  font-weight: 700;
  margin-left: var(--m-0-5);
}

/*User Main-Profile*/
.container .userProfile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}

.container .Logo_img .profile img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}
.container .userProfile .profile figure img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

/*Work & Skills*/
.container .work_skills {
  padding: var(--p-1-5);
}

.work_skills .work .heading,
.work_skills .skills .heading {
  position: relative;
  font-size: var(--xs-fs);
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  margin-bottom: var(--m-1-5);
  margin-top: 10px;
  margin-left: 20px;
}

.work_skills .work .heading::before,
.work_skills .skills .heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 88%;
  background: var(--bg6-color);
}

.work_skills .work .Primary,
.work_skills .work .secondary {
  position: relative;
  margin-top: 10px;
  margin-left: 30px;
}

.work_skills .work .Primary h1,
.work_skills .work .secondary h1 {
  font-size: var(--l-fs);
  color: var(--f3-color);
  margin-bottom: var(--m-0-6);
}

.work_skills .work .Primary p,
.work_skills .work .secondary p {
  margin-bottom: var(--m-1-8);
  font-size: var(--m-fs);
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.6rem;
  margin-top: 10px;
  margin-left: 10px;
}

/*User Details*/
.userDetails {
  position: relative;
  padding: var(--p-1-5) var(--p-2-5);
}

.userDetails .userName {
  margin-left: 20px;
  margin-top: 30px;
}
.userDetails .userName h1 {
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
}

.userDetails .userName p {
  font-size: var(--m-fs);
  font-weight: 700;
  color: #441853;
  margin-bottom: var(--m-1-8);
}

.userDetails .rank {
  position: relative;
  margin-left: 20px;
  margin-top: 30px;
}

.userDetails .rank .heading {
  font-size: small;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.userDetails .btns {
  margin-left: 10px;
  margin-top: 30px;
}

.userDetails .btns ul,
.userDetails .btns ul li {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.userDetails .btns ul li a {
  font-size: large;
  color: black;
  text-decoration: none;
}

.userDetails .btns ul .Contra {
  background: #c884d7;
  width: 100px;
  border-radius: 0.5rem;
  padding-left: 3px;
}

/*Timeline & About*/
.timeline_about {
  padding: var(--p-2-5);
}

.timeline_about .tabs ul {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.timeline_about .tabs ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--bg7-color);
}

.timeline_about .tabs ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: var(--m-2-5);
  padding-bottom: var(--p-0-8);
  cursor: pointer;
}

.timeline_about .tabs ul li span {
  font-size: var(--l-fs);
  font-weight: 500;
  margin-left: 10px;
}

.timeline_about .tabs ul li .ri {
  margin-right: var(--m-0-5);
}

.timeline_about .tabs ul .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--bg5-color);
}
.timeline_about .contact_info {
  margin-top: 10px;
  margin-left: 20px;
}
.timeline_about .contact_info .heading {
  font-size: var(--xs-fs);
  color: var(--f4-color);
  text-transform: uppercase;
  margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul {
  margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul li {
  display: flex;
  margin: var(--m-0-5) 0;
}

.timeline_about .contact_info ul li h1 {
  font-weight: 500;
  font-size: var(--m-fs);
  min-width: 12rem;
}

.timeline_about .contact_info ul li span {
  font-size: var(--m-fs);
}
.timeline_about .contact_info ul .nombre_usuario h1,
.timeline_about .contact_info ul .email h1 {
  margin-top: 10px;
}
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .nombre_usuario span {
  margin-top: 10px;
}

/*Boton de regresar*/
.Regresar {
  display: flex;
  margin-top: 10px;
  width: 150%;
}

/*------------------------------------------- Estilo Cuadro General ----------------------------------*/

.Body_Cuadro {
  font-size: 16px;
  color: #2c2c2c;
}

.Body_Cuadro a {
  color: inherit;
  text-decoration: none;
}

.brandLogo {
  width: 100px;
  position: static;
  margin-left: 40%;
}

.H_Title {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.Header_Title {
  margin-bottom: 20px;
  font-size: 2.1rem;
}

.multisteps-form_form {
  position: relative;
}

.multisteps-form_panel {
  position: relative;
  margin-left: 30%;
  width: 50%;
}

.Entrar {
  width: 100%;
}

/*-----------------------------------------Home--------------------------------------*/
.Home {
  background: #eaeaea;
}

/*------------------------------Dashboard Tabla-------------------------------*/

.Contenedor_Tabla {
  margin: 70px;
  padding: 2rem;
  padding-bottom: 0;
}

.Card_Tabla {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Tabla {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Tabla th,
.Tabla td {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

.Tabla th {
  color: white;
  font-weight: bold;
  background-color: #2a2a2a;
}

.Tabla td {
  color: black;
}

.Campo_Busqueda {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: border-color 0.3s;
}

.Campo_Busqueda:focus {
  border-color: #441853;
  outline: none;
}

.Estado_Tabla.proceso {
  color: #065fa8;
}

.Estado_Tabla.finalizado {
  color: #ff9a02;
}
.Estado_Tabla.nuevo {
  color: #65257b;
}

/*--------------------------------------Dashboard Gráficos ----------------------------------------------------------------------*/
.Titulo {
  font-size: 20px;
  font-weight: inherit;
  text-align: center;
  margin-bottom: 20px;
}

.chart-container {
  width: 40%;
  margin: 0 auto;
  margin-left: 100px;
  margin-top: 60px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-custom {
  padding: 30px;
}

.chart-body {
  height: 300px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.legend {
  display: flex;
  justify-content: space-around;
}

/*-----------------------------------------Cards-----------------------------------------------*/

.Contenedor_Card {
  display: flex;
  justify-content: space-around;
  height: 350px;
  padding: 75px;
  padding-bottom: 20px;
}

.Card_Card {
  width: 30%;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s;
}

.Card_Card:hover {
  transform: scale(1.05); /* Efecto hover */
}

.Imagen_Card {
  width: 65%;
  height: auto;
  border-radius: 10px;
}

/*--------------------------------------Contenedor de Página multipasos----------------------------*/
/* Variables globales */
:root {
  --primary-color: #65257b;
  --secondary-color: #441853;
  --background-color: #f4f4f9;
  --white: #ffffff;
  --light-gray: #f9f9f9;
  --border-color: #ccc;
  --text-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Estilos generales */
body {
  font-family: inherit;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Contenedor principal */
.Contendor_ControladorPasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

/* Estilos para pasos */
.Pasos,
.Pasos_Display {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
}

.Pasos_Display {
  align-items: flex-start;
  margin-top: 2rem;
}

.C_PasosExpediente {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.C_Pasos_Pasos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  flex: 1;
}

.Número_Display {
  width: 3rem;
  height: 3rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
  border: 2px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  z-index: 3;
}

.Número_.Número_Display {
  background-color: #c884d7;
}

.Descripción_Display {
  text-align: center;
  width: 100%;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.Linea_Display {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--text-color);
  z-index: 1;
  transform: translateY(-50%);
}

/* Estilos para pasos seleccionados */
.Paso_Seleccionado .Número_Display {
  background-color: var(--secondary-color);
}

.Número_Seleccionado {
  color: var(--white);
  font-weight: bold;
  font-size: 1.25rem;
}

.texto_seleccionado {
  color: var(--text-color);
  font-weight: bold;
}

.II_texto_seleccionado {
  color: #666;
}

.Linea_Seleccionada {
  background-color: var(--secondary-color);
}

.II_Linea_Seleccionada {
  background-color: #c884d7;
}

/* Estilos para botones de navegación */
.Botones_Navegacion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.Boton_Anterior,
.Boton_Siguiente {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Boton_Anterior {
  margin-right: auto;
}

.Boton_Siguiente {
  margin-left: auto;
}

.Boton_Anterior:disabled,
.Boton_Siguiente:disabled,
.Boton_Atrás_Seleccionado {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Estilos para formularios */
.Contenedor_Ficha {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--light-gray);
}

.Ficha,
.Contenedor_CrearExpediente {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 8px 16px var(--shadow-color);
  padding: 20px;
  width: 100%;
  max-width: 800px;
}

.Contenedor_CrearExpediente {
  max-width: 80%;
  margin: 2rem auto;
}

.Header_Logo {
  text-align: center;
  margin-bottom: 20px;
}

.Header_Title {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.Contenedor_Formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Contenedor_Formulario label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.Contenedor_Formulario input[type="text"],
.Contenedor_Formulario select {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
}

.Contenedor_Formulario input[type="text"]:focus,
.Contenedor_Formulario select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(101, 37, 123, 0.3);
  outline: none;
}

.Contenedor_Formulario select {
  cursor: pointer;
}

.Contenedor_Formulario select option {
  padding: 10px;
}

.Contenedor_Formulario input[type="text"]::placeholder,
.Contenedor_Formulario select {
  color: #888;
  font-size: 0.9rem;
}

.Seccion_Ficha,
.Serie_Ficha,
.SubSerie_Ficha {
  background-color: var(--white);
}

button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  align-self: center;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a1d5b;
}

/* Responsividad */
@media (max-width: 768px) {
  .Ficha {
    padding: 10px;
  }

  .Header_Title {
    font-size: 1.5rem;
  }

  .Contenedor_Formulario form {
    gap: 10px;
  }

  button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
