* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Contenedor_Boton {
  display: flex;
  gap: 100px;
  margin: 60px auto;
}

.Boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Limitar el tamaño máximo del botón */
  height: 50px;
  color: #fff;
  background: #16840e;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
